<div class="position">
	<% if flash[:error].present? %>
		<span style="color: red;"><%= flash[:error] %></span>
	<% end %>

	<%= form_tag url_for(action: 'process_login'), class: 'login-form' do %>
		<h3 style="color: #AB6BE0;">Login to your account</h3>

		<div><%= text_field_tag :username, params[:username], placeholder: 'Username' %></div>
		<div><%= password_field_tag :password, params[:password], placeholder: 'Password' %></div>
		
		<%= submit_tag 'Sign In' %>
	<% end %>

	<%= button_to "Create account", new_user_path, method: :get %>
</div>