<h1>Create new user</h1>
<% if @user.errors.any? %>
	<h3> There was a problem while creating user</h3>
	<ul>
		<% @user.errors.full_messages.each do |message|  %>
			<li style="color: red">
				<%= message %>
			</li>
		<% end %>
	</ul>
<% end %>
<%= form_for(@user) do |f| %>
	<%= f.label :username %> <%= f.text_field :username %>
	<%= f.label :password %> <%= f.password_field :password %>
	
	<%= f.submit %>
<% end %>
<%= button_to "Already have account", login_path, method: :get %>