<tr>
	<td><%= image_tag book.image.url %></td>
	<td><%= book.name %></td>
	<td><%= book.genre%></td>
	<td><%= book.page_count%></td>
	<td><%= button_to "Destroy", book, method: :delete, data: { confirm: 'Are you sure?' }, style: "color: red"  %></td>
</tr>
