<%= render partial: 'error' %>

<h2 style="color: #AB6BE0;">Create Book</h2>

<%= form_for(@book) do |f| %>
	<%= f.label :name %> <%= f.text_field :name %>
	<%= f.select :genre, options_for_select(["adventure", "biopgraphy", "comedy", "drama", "horror", "romantic"], :selected => f.object.genre), include_blank: true %>
	<%= f.label :page_count %><%= f.number_field :page_count, min: 10 %>
	<%= f.label :image %> <%= f.file_field :image %>
	
	<%= f.submit %>
<% end %>